html, body {
    width:  100%;
    height: 100%;
    margin: 0;
  }

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }


/* Styles for the screen element */
.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Styles for the main menu screen */
  .screen-start {
    display: flex;
    align-items: center;
    justify-content: center;
  }

h1 {
    font-family: fantasy;

}

canvas {
    position: relative;
}

.screen-pause {
  margin: auto;
  width: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

button {
  background-image: url('assets/itemDisplay.png');
  background-size: 100% auto;
  color: white;
  border: none;
}

ul {
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

#button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

#equip-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.button {
  width: 100px;
  height: 40px;
  margin-bottom: 0px;
  border: none;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.shop-purchase {
  margin-top: 125px;
}

.shop-equip {
  margin-top: 400px;
}

img {
  height: 100px;
  width: 100px;
}